/*
@font-face {
    font-family: 'Lato';
    src: url('../fonte/Lato-Regular.ttf');
    font-weight: 400;
}
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Lato'; */
}

:root {
  --blue: #259296; /* Verde da Logo Principal, Botões e Sidebar*/
}

html, body {
    height: 100%;
    min-height: 100%;
}

a {
    text-decoration: none;
}


.centralizarTexto {
    text-align: center;
}



/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 13px;
  }

  *::-webkit-scrollbar-track {
    background: #2b353e;
 
  }

  *::-webkit-scrollbar-thumb {
    background-color: #b2dce4;
    border-radius: 10px;
    border: 3px solid #2b353e;
  }



.btn {
    font-weight: 600;
    filter: drop-shadow(0px 1px 0px rgba(0, 0, 0, 0.25));

}

/* Altura do Input */
.form-floating>.form-control, .form-floating>.form-select  {
  height: 2.9rem;
}

.form-floating>label {
  padding: 0.6rem 0.68rem;
}

.form-floating>.form-select {
  padding-top: 0.7rem; /* Label do genêro estava para baixo */
}

.despesa {
  color: red;
}

.receita {
  color: rgb(0, 206, 0);
}

.btn {
  background-color: var(--blue);
  border: none;
}

.btn:hover {
  background-color: #197e81;
  border: none;
}

a {
  color: #44a2a5
}

a:hover {
  color: #82dfe2;
}

h1, h2, h3, h4, h5, h6 {
  color: #344050;
}

p {
  color: #5e6e82;
}

footer > p {
  color: white;
}