main, sidebar {
    overflow-y: auto;
}

sidebar {
    background-color: var(--verdeEscuro);
    border-right: var(--verdePrincipal) 4px solid;
}

.dashboard{
    background-color: var(--brancoFundo);
    height: 100%;
}

.tituloDashboard {
    color: white;
    background-color: var(--verdeEscuro);
    width: 100%;
    padding: 15px;
    font-size: 1.3rem;
    border-bottom: 3px solid var(--verdePrincipal);
}

h1 {
    font-size: 1rem;
    color: white;
}

a {
    font-size: 1.1rem;
}

li > a > span {
    padding-left: 5px;
}

li {
    margin-left: 10px;
}

li:hover, .active  {
    background-color: var(--verdePrincipal);
    transition: .3s;
    border-radius: 12px 0px 0px 12px; 
}

.nav-link{
    padding: 12px 0px 12px 12px;
}

.saudacao {
    padding: 10px;
    margin: 3px;
    margin-bottom: 15px;
    width: 90%;
    align-self: center;
}

a.saudacao, .cardSaldo {
    color: white;
    text-transform: capitalize;
    font-weight: 500;

}

.nav-link > span, i {
    color: #ffffff;
    font-weight: 400;
}

