main {
    background-color: #99CBEF;
    overflow-y: auto;
}

.dashboard{
    background-color: #99CBEF;
    height: 100%;
}

sidebar {
    background-color: var(--blue);
    overflow-y: auto;
}

h1 {
    font-size: 1.5rem;
    color: white;
}

h2 {
    color: white;
}

h3 {
    font-size: 1.2rem;
    font-weight: 600;
}

h4 {
    font-size: 1rem;
}

a {
    font-size: 1.1rem;
}

.data {
    opacity: .7;
}

nav > ul > li > a {
    font-size: medium;
}

li > a > span {
    padding-left: 5px;
}

li {
    margin: 0px 10px 0px 10px;
    padding: 3px 0px 3px 0px;
    border-radius: 20px;
}


li:hover, li > .active  {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 12px;
}


.descricao {
    font-size: .8rem;
}

.saudacao {
    border-radius: 11px;
    padding: 10px;
    margin: 3px;
    margin-bottom: 15px;
    width: 90%;
    align-self: center;
}

a.saudacao, .cardSaldo {
    color: white;
    text-transform: capitalize;
    font-weight: 500;

}

.receita, .despesa {
    font-weight: 600;
}

.conteudo {
    padding: 20px;
}

.card {
    /*box-shadow: 1px 1px 1px 1px #65afe4;*/
    border-radius: 6px;
    border: none;
}



.primeiraSecao > div:not(:first-child) {
    border-left: 2px solid rgba(146, 146, 146, .2);
    border-radius: 3px;
}

main > div:first-child{
    height: 150px;
}

.segundaSecao > .card {
    width: 310px;
    height: 150px;
}

.card-icon {
    width: 120px;
    height: 120px;
    display: flex;
    align-self: center;
}

.nav-link > span, i {
    color: rgb(255, 255, 255);
}

div.cardSaldo {
    background-color: rgba(47, 131, 192, 1);
}

a.btn {
    background-color: var(--blue);
    border-color: #ffffff;
    border: 1px solid;
}

a.btn:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-color: #ffffff;
    border: 1px solid;
}

p {
    margin-bottom: .3rem;
}

.card {
    border-top: 2px solid #2F83C0;
}

.conteudo > img {
    height: 60px;
    background-color: #bee0f8;
    padding: 11px;
    border-radius: 6px;
}