.index  {
    background-image: url('/img/background.jpg');
    background-repeat: no-repeat;
    background-size: 100vw;
}

main {
    background: rgba(1, 35, 37, 0.5);
    backdrop-filter: blur(2px);
    min-height: 82.5vh;
}

.cadastro {
    display: flex; 
    justify-content: center; 
    flex-direction: column;
    gap: 3px;
}


img {
    width: 40px;
}

header, footer {
    background-color: var(--verdeEscuro);
}

header {
    border-bottom: var(--verdePrincipal) 2px solid;
}

footer {
    border-top: var(--verdePrincipal) 2px solid;
}


h1 {
    font-size: 2rem;
}

h1, footer > p > a {
    color: white;
}

h2, .esqueceuSenha {
    color: white;
}

select, input[type="date"] {
    cursor: pointer;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
    padding-bottom: 15px;
}

/* Background dos formulários */
.login > form, .cadastro > div, .formCadastro  {
    background-color: rgb(43,53,62, .8);
    padding: 40px;
    border-radius: 8px;
    border: var(--verdeEscuro) 2px solid;
}

.cadastro > div {
    margin: 10px 290px 10px 290px;
}

.formCadastro {
    padding: 12px 70px 12px 70px;
}

.lembrarDeMim {
    text-align: start;
    color: white;
    margin-bottom: 15px;
    margin-top: 10px;
}