@media screen and (max-width: 1075px) {
    .sidebar {
        width: 25%;
    }
    main {
        width: 75%;
    }
}

/* Mobile
@media screen and (max-width: 744px) {
    main {
        width: 100vw;
    }
    .sidebar {
        display: none;
    }
}
*/