@media screen and (max-width: 1320px) {
    .sidebar {
        width: 22vw;
    }
    main {

    }
}

/*
@media screen and (max-width: 1024px) {
    .sidebar {
        display: none;
    }
    main {
        width: 100vw;
    }
}

 Mobile
@media screen and (max-width: 744px) {
    main {
        width: 100vw;
    }
    .sidebar {
        display: none;
    }
}
*/